*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins;
    font-family: sans-serif;
}
.registerparent{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
}
.register-form{
    /* border:1px solid black; */
    width:50vw;
    text-align: left;


}
.name-input,
.email-input,
.password-input,
.phoneNo-input{
    height:2.5rem;
    width:90%;
    margin-bottom: 20px;
    border:2px solid rgba(211, 211, 211, 0.514);
}
label{
    text-align: left !important;
    font-weight: 400;
    font-size: 20px;
}
.btn-primary2{
    width:30vw !important;
    font-size: 18px !important;
    border:1px solid transparent;
    margin:auto !;
    margin: 0px 0px !important;

}
.submit-div{
    width:90%;
    /* border:1px solid black; */
    text-align: center;
    margin-top: 5vh;
}